.headSection:hover {
    background-color  : rgba(199, 199, 199, 0.39);
    transition        : .5s;
    -webkit-transition: .5s;
    -moz-transition   : .5s;
    -ms-transition    : .5s;
    -o-transition     : .5s;
}

.headSection:not(:hover) {
    transition        : .5s;
    -webkit-transition: .5s;
    -moz-transition   : .5s;
    -ms-transition    : .5s;
    -o-transition     : .5s;
}

.head__container {
    display       : flex;
    flex-direction: row;
    margin-left   : 30px;
}

.head__button {
    margin          : 15px;
    font-weight     : bold;
    font-size       : large;
    background-color: transparent;
    outline         : none;
}


.head__button {
    color: #e84546;
}

.head__button:hover {
    color             : #dac0c0;
    transition        : 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition   : 0.5s;
    -ms-transition    : 0.5s;
    -o-transition     : 0.5s;
}

.head__button:active {
    color             : #ec3131;
    transition        : 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition   : 0.2s;
    -ms-transition    : 0.2s;
    -o-transition     : 0.2s;
    outline           : none;
}

.head__button:focus {
    color: #8d7ac2;
}

body {
    overflow: hidden;
}

.wrapper {
    height           : 100%;
    width            : 100%;
    min-height       : 100%;
    background-repeat: no-repeat;
    background       : url(../img/earth.jpg) center;
    background-size  : cover;
    filter           : opacity(0.9) brightness(90%);
    -webkit-filter   : opacity(0.9) brightness(90%);
}

.grid-container {
    padding-top   : 70px;
    max-width     : 850px;
    margin        : auto;
    display       : flex;
    flex-direction: column;
}

.title {
    font-size  : 120;
    font-weight: 800;
    text-shadow: 1px 2px 10px rgb(7, 7, 7);
    color      : #ffffff;
    text-align : center;
}

.input-block {
    display        : flex;
    flex-direction : row;
    align-items    : center;
    margin         : 70px;
    justify-content: space-around;
}

.input-elem {
    font-size            : 20px;
    padding              : 6px;
    border-radius        : 6px;
    background           : #ffffff;
    -webkit-box-shadow   : 0px 0px 3px 2px rgb(237, 245, 248);
    -moz-box-shadow      : 0px 0px 3px 2px rgb(237, 245, 248);
    box-shadow           : 0px 0px 3px 2px rgb(237, 245, 248);
    width                : 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius   : 6px;
    -ms-border-radius    : 6px;
    -o-border-radius     : 6px;
    outline              : none;
}

.input-elem::placeholder {
    color: rgb(135, 166, 224);
}

.input-elem:placeholder-shown {
    color: rgb(74, 153, 218);
}

.input-elem:hover {
    transition        : 0.5s;
    -webkit-box-shadow: 0px 0px 10px 5px rgb(237, 245, 248);
    -moz-box-shadow   : 0px 0px 10px 5px rgb(237, 245, 248);
    box-shadow        : 0px 0px 10px 5px rgb(237, 245, 248);
    -webkit-transition: 0.5s;
    -moz-transition   : 0.5s;
    -ms-transition    : 0.5s;
    -o-transition     : 0.5s;
}

.input-elem:focus {
    transition        : 0.5s;
    -webkit-box-shadow: 0px 0px 10px 5px rgb(237, 245, 248);
    -moz-box-shadow   : 0px 0px 10px 5px rgb(237, 245, 248);
    box-shadow        : 0px 0px 10px 5px rgb(237, 245, 248);
    -webkit-transition: 0.5s;
    -moz-transition   : 0.5s;
    -ms-transition    : 0.5s;
    -o-transition     : 0.5s;
}

.submit-button {
    padding              : 8px 80px;
    border-radius        : 5px;
    color                : #ffffff;
    font-weight          : 500;
    font-size            : 17px;
    background-color     : #e63434;
    -webkit-box-shadow   : 0px 0px 3px 1px rgb(238, 16, 16);
    -moz-box-shadow      : 0px 0px 3px 1px rgb(238, 16, 16);
    box-shadow           : 0px 0px 3px 1px rgb(238, 16, 16);
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    -ms-border-radius    : 5px;
    -o-border-radius     : 5px;
    outline              : none;
}

.submit-button:hover {
    transition        : 0.3s;
    -webkit-box-shadow: 0px 0px 10px 5px rgb(231, 64, 64);
    -moz-box-shadow   : 0px 0px 10px 5px rgb(231, 64, 64);
    box-shadow        : 0px 0px 10px 5px rgb(231, 64, 64);
    -webkit-transition: 0.3s;
    -moz-transition   : 0.3s;
    -ms-transition    : 0.3s;
    -o-transition     : 0.3s;
}

.submit-button:active {
    font-size          : 0.9rem;
    background-color   : #e84546;
    transition-duration: 0.2s;
    text-shadow        : none;
    box-shadow         : none;
}

.submit-button:focus {
    transition        : 0.5s;
    -webkit-box-shadow: 0px 0px 10px 5px rgb(238, 16, 16);
    -moz-box-shadow   : 0px 0px 10px 5px rgb(238, 16, 16);
    box-shadow        : 0px 0px 10px 5px rgb(238, 16, 16);
    -webkit-transition: 0.5s;
    -moz-transition   : 0.5s;
    -ms-transition    : 0.5s;
    -o-transition     : 0.5s;
}

.result-weather-block {
    margin               : 0 auto;
    padding              : 20px 160px;
    display              : flex;
    flex-direction       : column;
    align-items          : center;
    justify-content      : space-around;
    background-color     : rgba(163, 219, 241, 0.4);
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
    display              : none;
}

.result-weather-block:hover {
    transition        : 0.6s;
    background-color  : rgb(166, 209, 226, 0.6);
    -webkit-transition: 0.6s;
    -moz-transition   : 0.6s;
    -ms-transition    : 0.6s;
    -o-transition     : 0.6s;
}

.result-weather-block:not(:hover) {
    transition        : 0.6s;
    background-color  : rgba(163, 219, 241, 0.4);
    -webkit-transition: 0.6s;
    -moz-transition   : 0.6s;
    -ms-transition    : 0.6s;
    -o-transition     : 0.6s;
}

.result__actualWeather {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-around;
    display        : none;
}

#result-img {
    border-radius        : 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius   : 50px;
    -ms-border-radius    : 50px;
    -o-border-radius     : 50px;
}

#result-img-block {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

#result-temperature {
    padding-right: 10px;
    font-size    : 60px;
    font-weight  : 800;
}

#result-place {
    margin     : 15px;
    font-size  : 25px;
    font-weight: 700;
    text-align : center;
}

#additional-results {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : repeat(2, 1fr);
    grid-column-gap      : 50px;
    grid-row-gap         : 20px;
    font-size            : 20px;
    text-align           : center;
    font-weight          : 800;
    margin-top           : 20px;
    color                : rgb(7, 7, 8);
}

.result__history {
    display              : none;
    flex-direction       : column;
    align-self           : center;
    background-color     : rgb(166, 209, 226, 0.5);
    padding              : 20px;
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
    font-size            : 16px;
    font-weight          : 800;
}

.result__history:hover {
    transition        : 0.6s;
    background-color  : rgb(166, 209, 226, 0.6);
    -webkit-transition: 0.6s;
    -moz-transition   : 0.6s;
    -ms-transition    : 0.6s;
    -o-transition     : 0.6s;
}

.result__history:not(:hover) {
    transition        : 0.6s;
    background-color  : rgba(163, 219, 241, 0.4);
    -webkit-transition: 0.6s;
    -moz-transition   : 0.6s;
    -ms-transition    : 0.6s;
    -o-transition     : 0.6s;
}

.result__history_item {
    margin: 20px;
}

.result__clearBtn {
    margin: 10px auto;
}

.result__clearBtn {
    padding              : 5px 30px;
    border-radius        : 5px;
    color                : #ffffff;
    font-weight          : 500;
    font-size            : 17px;
    background-color     : #3481e6;
    -webkit-box-shadow   : 0px 0px 2px 2px rgb(16, 131, 238);
    -moz-box-shadow      : 0px 0px 2px 2px rgb(16, 131, 238);
    box-shadow           : 0px 0px 2px 2px rgb(16, 131, 238);
    text-decoration      : none;
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    -ms-border-radius    : 5px;
    -o-border-radius     : 5px;
    outline              : none;
}

.result__clearBtn:hover {
    transition        : 0.5s;
    -webkit-box-shadow: 0px 0px 10px 5px rgb(16, 131, 238);
    -moz-box-shadow   : 0px 0px 10px 5px rgb(16, 131, 238);
    box-shadow        : 0px 0px 10px 5px rgb(16, 131, 238);
    -webkit-transition: 0.5s;
    -moz-transition   : 0.5s;
    -ms-transition    : 0.5s;
    -o-transition     : 0.5s;
}

.result__clearBtn:active {
    font-size          : 0.9rem;
    background-color   : rgb(16, 131, 238);
    transition-duration: 0.2s;
    text-shadow        : none;
    box-shadow         : none;
}

.result__clearBtn:focus {
    -webkit-box-shadow: 0px 0px 10px 5px rgb(24, 110, 190);
    -moz-box-shadow   : 0px 0px 10px 5px rgb(16, 131, 238);
    box-shadow        : 0px 0px 10px 5px rgb(9, 71, 129);
}

#preloader {
    position  : fixed;
    left      : 0;
    top       : 100;
    z-index   : 999;
    width     : 100%;
    height    : 100%;
    overflow  : visible;
    background: url(../img/preloader.svg) no-repeat center center;
}

.visible {
    visibility        : visible;
    opacity           : 1;
    transition        : opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition   : opacity 0.5s linear;
    -ms-transition    : opacity 0.5s linear;
    -o-transition     : opacity 0.5s linear;
}

.hidden {
    visibility        : hidden;
    opacity           : 0;
    transition        : visibility 0s 0.5s, opacity 0.5s linear;
    -webkit-transition: visibility 0s 0.5s, opacity 0.5s linear;
    -moz-transition   : visibility 0s 0.5s, opacity 0.5s linear;
    -ms-transition    : visibility 0s 0.5s, opacity 0.5s linear;
    -o-transition     : visibility 0s 0.5s, opacity 0.5s linear;
}